@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scrollbar-width: thin;
}

*,*:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

body {
    background-image: url(/src/img/prestige-COD.gif);
    background-repeat: repeat;
    color: v.$blanco;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
